.article-cards {
    display: grid;
    grid-template-columns: 5fr 0.5fr;
    grid-template-areas: 'main votes';
    border: 3px solid #ba1f31;
    width: 85%;
    background-color: snow;
    margin-bottom: 30px;
    box-shadow: 3px 7px 15px black;
    padding: 20px 15px;
    font-family: 'Merriweather', serif;
    border-radius: 10px;
}

.article-cards:hover {
    background-color: rgb(235, 235, 235);
}

.delete-container {
    display: flex;
    flex-direction: column;
    width: 5%;
    margin: auto;
    padding: 10px;

}

.delete-button {
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    background: red;
    padding: 3px;
    font-family: 'Merriweather', serif;
    font-weight: 800;
    font-size: 0.6rem;
}

.delete-button:hover {
    
}

.container {
    display: flex;
    flex-direction: column;
}

.title {
   grid-area: main;
   padding-bottom: 10px;
   text-decoration: none;
   font-weight: 900;
   font-size: 2rem;
   

}

.timestamp {
    grid-area: main;
    padding-bottom: 10px;
    font-size: 0.7rem;
}

.body {
    grid-area: main;
    font-family: 'Roboto';
    font-size: 1.1rem;
}

.votes {
    grid-area: votes;
    margin-top: 10px;
}