nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    list-style-type: none;
    justify-content: center;
    height: auto;
    padding-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'Niconne', cursive;
    font-size: 1.2rem;
}

nav a:hover {
    color: goldenrod;
    text-decoration: underline;
}

nav {
    background-color: #ba1f31;
    height: 6vh;
}